body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: #f3f7ff;
}

.navbar {
  background: #4c6ef5;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav-links a {
  margin: 0 12px;
  color: white;
  text-decoration: none;
}

.auth-box, .profile-box {
  width: 350px;
  background: white;
  padding: 25px;
  margin: 60px auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.auth-box input, .profile-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background: #4c6ef5;
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
}